<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
 
<body>
    <h1>ROCK PAPER SCISSOR PLUS</h1>
    <h3> Um jogo de pedra papel e tesoura com outros componentes.</h3>

    <input type="text" id="msg" placeholder="Digite">

    <button onclick = "Start(event)" id="button">Start</button>

    <button onclick="reStart()" id="reStart">Restart</button>

    <p id="Emsg"> Resultados... </p>
    <p id="oponent"></p>

        

    <script src="/script.js"></script>
</body>

</html>