<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
 
<body>
    <h1>Sistema de Cadastro</h1>
    <input type="text" id="msg">
    <button onclick= "Start()" id="button">Start</button>
    <p id="Emsg"> resposta </p>

        <% users.forEach(usuarios => { %>
            
            <p>nome: <%= usuarios.Name %></p>
            <p>idade: <%= usuarios.age %></p>
            <p>score: <%= usuarios.score %></p>
   
       <% }); %>
    
        

    <script src="/script.js"></script>
</body>

</html>